.miniCart {
  position: relative;
  font-size: 24px;
  text-align: center;
}

.badge {
  position: absolute;
  top: -4px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}
