.cart {
  position: relative;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cart h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.cart ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.cart li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cart button {
  background: #f44336;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.cart button:hover {
  background: #da190b;
}
.quantity {
  position: absolute;
  right: 100px;
  color: white;
  border-radius: 100px;
  background-color: rgb(22, 20, 20);
  padding: 2px 8px;
  font-size: 16px;
}
.title {
  width: 40%;
}
.cart img {
  width: 100px;
  height: 60px;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
