.input {
  width: 100%;
  text-align: center;
  max-width: 300px;
  padding: 10px 14px;
  font-size: 15px;
  border-bottom: 1px solid gray;
  transition: 0.3s;
  font-weight: 500;
  cursor: pointer;
}

.input:focus {
  border-color: #0070f3;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 112, 243, 0.3);
}