.table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

.table td {
  border: 1px solid #eee;
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: #f5f5f5;
  font-weight: 600;
}

.table tr:hover {
  background-color: #fafafa;
}

.editBtn {
  background-color: #ffa500;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 6px;
  width: 100%;
}

.deleteBtn {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 6px 24px;
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

.addToCartBtn {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  background: rgb(60, 174, 60);
  color: #fff;
  border: none;
  padding: 8px 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
  width: 100%;
}

.addToCartBtn:hover {
  background: blue;
}

.productImage {
  width: 200px;
  height: 100px;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.noImage {
  width: 80px;
  height: 60px;
  border-radius: 8px;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  font-size: 12px;
}
